@model Pile.Models.DisplayEmailViewModel

@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title</h2>

<h3>A confirmation email has been sent to the specified address.</h3>
You cannot log on until your email address has been confirmed.

