
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<script src="~/Scripts/APIScripts/Employees/Emp.js?v=1.05"></script>

<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Employees', 'getAll')">
        <h2>Employees <span ng-hide="Employees">. . . Loading . . . </span></h2>
        <div>Click First Name to Edit</div>
        <div ng-if="errors" class="alert-danger"> {{errors}}</div>
        <div ng-if="messages" class="alert-success"> {{messages}}</div>
        <table class="table">
            <tr>
                <th>Crew</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Truck</th>
                <th>Pay%</th>
                <th>Home</th>
                <th>Mobile</th>
                <th>User</th>
                <th>Email</th>
            </tr>
            <tbody>
                <tr ng-repeat="employee in Employees | filter: {User: {}}">
                    <td>{{employee.CrewId}}</td>
                    <td  class="pointer" ng-click="empEdit(employee.Id)">{{employee.FirstName}}</td>
                    <td>{{employee.LastName}}</td>
                    <td>{{employee.TruckID}}</td>
                    <td>{{employee.PayPerc}}</td>
                    <td>{{employee.HomePhone}}</td>
                    <td>{{employee.MobilePhone}}</td>
                    <td>{{employee.User.UserName}}</td>
                    <td>
                        {{employee.User.Email}} 
                        <input type="button" class="btn btn-xs btn-danger" title="Deactivate" value="X" ng-click="saveWithIdAndAction(employee.Id, 'deactivate', employee);false;" />
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 ng-click="showInactive=!showInactive">Inactive <span ng-hide="showInactive">+</span><span ng-show="showInactive">-</span></h2>

        <div id="inactiveEmployees" ng-show="showInactive">
            <table class="table">
                <tr>
                    <th>Crew</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Home</th>
                    <th>Mobile</th>
                    <th>User</th>
                    <th>Email</th>
                </tr>
                <tbody>
                    <tr ng-repeat="employee in Employees | filter: isUserNull" class="pointer" ng-click="empEdit(employee.Id)">
                        <td>{{employee.CrewId}}</td>
                        <td>{{employee.FirstName}}</td>
                        <td>{{employee.LastName}}</td>
                        <td>{{employee.HomePhone}}</td>
                        <td>{{employee.MobilePhone}}</td>
                        <td>{{employee.Email}}</td>
                        <td>{{employee.User.Email}}</td>
                        @*<td><input type="button" class="btn btn-xs" value="Activate" /></td>*@
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
