
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<script src="~/Scripts/APIScripts/Employees/Emp.js?v=1.2"></script>

<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Employees', 'getAll')">
        <h2>Employees <span ng-hide="Employees">. . . Loading . . . </span></h2>
        <div>Click to Edit</div>
        <div ng-if="errors" class="alert-danger"> {{errors}}</div>
        <div ng-if="messages" class="alert-success"> {{messages}}</div>
        <table class="table">
            <tr>
                <th>Crew</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Truck</th>
                <th>Pay%</th>
                <th>Home</th>
                <th>Mobile</th>
                <th>User</th>
                <th>Email</th>
            </tr>
            <tbody>
                <tr ng-repeat="employee in Employees | filter: {Active: true}" class="pointer" ng-click="empEdit(employee.Employee.Id)">
                    <td>{{employee.Employee.CrewId}}</td>
                    <td>{{employee.Employee.FirstName}}</td>
                    <td>{{employee.Employee.LastName}}</td>
                    <td>{{employee.Employee.TruckID}}</td>
                    <td>{{employee.Employee.PayPerc}}</td>
                    <td>{{employee.Employee.HomePhone}}</td>
                    <td>{{employee.Employee.MobilePhone}}</td>
                    <td>{{employee.ApplicationUser.UserName}}</td>
                    <td>{{employee.ApplicationUser.Email}}</td>
                </tr>
            </tbody>
        </table>

        <h2 ng-click="showInactive=!showInactive">Inactive <span ng-hide="showInactive">+</span><span ng-show="showInactive">-</span></h2>

        <div id="inactiveEmployees" ng-show="showInactive">
            <table class="table">
                <tr>
                    <th>Crew</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Home</th>
                    <th>Mobile</th>
                    <th>User</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                <tbody>
                    <tr ng-repeat="employee in Employees | filter: {Active: false}" class="pointer">
                        <td>{{employee.Employee.CrewId}}</td>
                        <td>{{employee.Employee.FirstName}}</td>
                        <td>{{employee.Employee.LastName}}</td>
                        <td>{{employee.Employee.HomePhone}}</td>
                        <td>{{employee.Employee.MobilePhone}}</td>
                        <td>{{employee.Employee.Email}}</td>
                        <td>{{employee.ApplicationUser.Email}}</td>
                        <td><input type="button" class="btn btn-xs" value="Activate" /></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
