
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<script src="~/Scripts/APIScripts/Employees/EmpEdit.js?v=1.0"></script>

<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Employees', 'getAll')">
        <h2>Employees <span ng-hide="Employees">. . . Loading . . . </span></h2>
        <div>Click to Edit</div>
        <div ng-if="errors" class="alert-danger"> {{errors}}</div>
        <div ng-if="messages" class="alert-success"> {{messages}}</div>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Truck</th>
                <th>Pay %</th>
                <th>Home</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Email</th>
            </tr>
            <tbody>
                <tr ng-repeat="employee in Employees" class="pointer" ng-click="empEdit(employee.Id)">
                    <td>{{employee.FirstName}}</td>
                    <td>{{employee.LastName}}</td>
                    <td>{{employee.TruckID}}</td>
                    <td>{{employee.PayPerc}}</td>
                    <td>{{employee.HomePhone}}</td>
                    <td>{{employee.MobilePhone}}</td>
                    <td>{{employee.Address}}</td>
                    <td>{{employee.City}}</td>
                    <td>{{employee.State}}</td>
                    <td>{{employee.Zip}}</td>
                    <td>{{employee.Email}}</td>
                </tr>
            </tbody>
            @*<tfoot>
                <tr>
                    <td><input type="text" placeholder="First Name" ng-model="FirstName" /></td>
                    <td><input type="text" placeholder="Last Name" ng-model="LasttName" /></td>
                    <td><input type="text" placeholder="Truck" ng-model="TruckID" /></td>
                    <td><input type="text" placeholder="Pay %" ng-model="PayPerc" /></td>
                    <td><input type="text" placeholder="Home" ng-model="HomePhone" /></td>
                    <td><input type="text" placeholder="Mobile" ng-model="MobilePhone" /></td>
                    <td><input type="text" placeholder="Address" ng-model="Address" /></td>
                    <td><input type="text" placeholder="City" ng-model="City" /></td>
                    <td><input type="text" placeholder="State" ng-model="State" /></td>
                    <td><input type="text" placeholder="Zip" ng-model="Zip" /></td>
                    <td><input type="text" placeholder="Email" ng-model="Email" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="Clear" ng-click="edit(null)" />
                    </td>
                    <td>
                        <input type="button" class="alert-success" ng-value="Id == null || Id == 0 ? 'Create New' : 'Save Changes'" ng-click="save()" />
                    </td>
                </tr>
            </tfoot>*@
        </table>
    </div>
</div>
