@model Pile.db.Customer

<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Customers', 'getNew')">

        <div ng-if="errors" class="alert-danger"> {{errors}}</div>

        <div class="col-xs-3" ng-show="Customers.CustomerId == 0">
            <h2 class="no-top-margin">New Customer</h2>
        </div>

        <div class="col-xs-3" ng-show="Customers.CustomerId != 0">
            <h2 class="no-top-margin">{{Customers.FirstName}} {{Customers.LastName}}</h2>
            <h4>Customer ID - @Model.CustomerId.ToString()</h4>
        </div>

        <hr class="clearfix form-line" />

        <div>

            <div class="col-xs-4">
                <input type="button" value="Save" class="btn btn-sm btn-success" ng-click="save(Customers.CustomerId)" />
            </div>
            <div class="col-xs-4">
                @if (Model.CustomerId == 0)
                {
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-sm btn-danger" })
                }
                else
                {
                @Html.ActionLink("Cancel", "Details", new { id = Model.CustomerId }, new { @class = "btn btn-sm btn-danger" })
                }
            </div>
        </div>

        <hr class="clearfix form-line" />
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
    }


<script src="~/Scripts/APIScripts/Customers/Create.js?v1.4"></script>



