
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}


<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Customers', 'getDetailQueryId')">


        @Html.Partial("_customerEdit")

        @Html.Partial("_serviceSummary")

    </div> <!--Controller Div -->


    <span class="clearfix"></span>


</div>

<script src="~/Scripts/APIScripts/Customers/Edit.js?v1.88"></script>


<script type="text/javascript">
    function takeAction(ddl) {
        if (ddl.value == "")
            return;
        window.open(ddl.value, "custdetail");
        ddl.selectedIndex = 0;
    }
</script>
