@{
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<div data-ng-app="APIModule">
    <div ng-controller="Generic" ng-init="init('Customers', 'getAll', 'showall=false')">
        <h2 ng-show="Customers.ShowAll">
            All Customers
        </h2>
        <h2 ng-hide="Customers.ShowAll">
            Active Customers
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <input type="button" class="btn btn-sm btn-primary btn-inverse" value="Show Acitve" ng-show="Customers.ShowAll" ng-click="getAll('showall=false')" />
                    <input type="button" class="btn btn-sm btn-primary btn-inverse" value="Show All" ng-hide="Customers.ShowAll" ng-click="getAll('showall=true')" />
                    <a href="customers/create" class="btn btn-sm btn-primary btn-inverse">Create New</a>
                </div>
                <div class="col-sm-2">
                    <label for="cbSearchAll">Include Inactive</label>
                    <input type="checkbox" id="cbSearchAll" name="SearchAll" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" id="txtCustomerSearch" name="SearchValue" type="text" placeholder="Enter Search Text" />
                </div>
                <div class="col-sm-1">
                    <input type="submit" class="btn btn-sm btn-primary btn-inverse" />
                </div>
            </div>
        </div>
        <h2 ng-hide="Customers">Loading Data....</h2>
        <table class="table">
            <tr>
                <th>Status</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>Mobile</th>
                <th>Home</th>
                <th>Email</th>
                <th>Spouse</th>
            </tr>
            <tr ng-repeat="cust in Customers.Customers">
                <td>{{cust.Status}}</td>
                <td><a class="active" href="/Customers/edit?id={{cust.CustomerId}}" target="customer">{{cust.FirstName}}</a></td>
                <td><a class="active" href="/Customers/edit?id={{cust.CustomerId}}" target="customer">{{cust.LastName}}</a></td>
                <td>{{cust.Address.Address1}}</td>
                <td>{{cust.Address.City}}</td>
                <td>{{cust.Address.Zip}}</td>
                <td>{{cust.Mobile.Number}}</td>
                <td>{{cust.Home.Number}}</td>
                <td><a class="active" href="mailto:{{cust.Email}}">{{cust.Email}}</a></td>
                <td>{{cust.SpouseFirstName}} {{cust.SpouseLastName}}</td>
            </tr>

        </table>
    </div>
</div>


